<form #addressForm="ngForm" novalidate>

    <div class='row'>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
            <mat-form-field>
                <input type="text" matInput name="street" [(ngModel)]="address.street" placeholder="Street Address"
                    required>
                <mat-error>Street Address is required</mat-error>
            </mat-form-field>
            <div class="row">
                <div class='col-xs-12 col-sm-4'>
                    <div class="form-group">
                        <mat-form-field>
                            <input type="text" matInput name="city" [(ngModel)]="address.city" placeholder="City"
                                required>
                            <mat-error>City is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class='col-xs-4 col-sm-offset-1 col-sm-3'>
                    <div class="form-group">
                        <mat-form-field>
                            <input type="text" matInput name="state" [(ngModel)]="address.state" placeholder="State"
                                required>
                            <mat-error>State is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class='col-xs-offset-1 col-xs-7 col-sm-offset-1 col-sm-3'>
                    <div class="form-group">

                        <mat-form-field>
                            <input type="text" matInput name="zip" [(ngModel)]="address.zip" placeholder="Zip" required>
                            <mat-error>Zip is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="form-group text-center">
                <button [disabled]="!addressForm.valid" (click)="goToNext(addressForm)" mat-button>Next</button>

            </div>
        </div>


    </div>

</form>