<form #workForm="ngForm" novalidate>

  <div class="row justify-content-md-center">
    <mat-radio-group [(ngModel)]="workType" name="workType" class="workRadioGroup" required>
      <mat-radio-button value="Design">Design</mat-radio-button>
      <mat-radio-button value="Code">Code</mat-radio-button>
      <mat-radio-button value="Deploy">Deploy</mat-radio-button>
    </mat-radio-group>
  </div>
  
  <br /><br />
  <div class="text-center">
    <button [disabled]="!workForm.valid" (click)="goToNext(workForm)" mat-raised-button color="primary">Next</button>
  </div>

</form>